{% extends 'base.html' %}
{% block content %}
  <h2>Manage Dishes</h2>
  <a href="{% url 'create_dish' %}" class="btn waves-effect waves-light">Add new dish</a>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for dish in dishes %}
        <tr>
          <td>{{ dish.name }}</td>
          <td>{{ dish.price }}</td>
          <td>{{ dish.category }}</td>
          <td>
            <a href="{% url 'edit_dish' dish.pk %}"
               class="btn waves-effect waves-light">Edit</a>
            <a href="{% url 'delete_dish' dish.pk %}"
               class="btn waves-effect waves-light red">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No dishes available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
